<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Board">

	<resultMap type="Board" id="BoardMap">
		<id property="bo_postNo" column="BO_POSTNO"/>
		<result property="bo_userNo" column="BO_USERNO"/>
		<result property="bo_postTitle" column="BO_POSTTITLE"/>
		<result property="bo_postContent" column="BO_POSTCONTENT"/>
		<result property="bo_postView" column="BO_POSTVIEW"/>
		<result property="bo_createDate" column="BO_CREATEDATE"/>
		<result property="bo_updateDate" column="BO_UPDATEDATE"/>
		<result property="bi_imgsrc" column="BI_IMGSRC"/>
		<result property="bf_filesrc" column="Bf_FILESRC"/>
	</resultMap>
	<!-- 목록 조회 쿼리문 시작-->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM board
	</select>
	
	<select id="selectBoardList" resultMap="BoardMap">
	<![CDATA[
	SELECT * FROM(
	SELECT 	
        rownum Rnum,
        bo_postNo,
		bi_imgsrc,
		bo_userNo,
		bo_postTitle,
		to_char(BO_CREATEDATE, 'YYYY/MM/DD') BO_CREATEDATE,
		to_char(BO_UPDATEDATE, 'YYYY/MM/DD') BO_UPDATEDATE,
		BO_POSTVIEW FROM board t1 LEFT OUTER JOIN board_image t2 ON (t1.bo_postNo = t2.bI_postNo))
		 ORDER BY bo_postNo DESC
	 ]]>
	</select>
	<!-- 목록 조회 쿼리문 끝-->
	
	<!-- 게시물 조회 쿼리문 시작 -->
	<select id="selectContentView" resultMap="BoardMap">
	<![CDATA[
	SELECT 
	 bo_postNo, bi_imgsrc,  bo_postTitle, bo_postContent,
	  to_char(bo_createDate, 'YYYY/MM/DD') bo_createDate ,
	  to_char(bo_updateDate, 'YYYY/MM/DD') bo_updateDate ,
	  bo_postView, bo_userNo, bf_filesrc 
	  FROM board 
	  			left outer join Board_Image 
	  							ON (bo_postNo = bi_postNo) 
	  			left outer join Board_file 
	  							ON (bo_postNo = bf_postNo) 
	  where bo_postNo= #{bo_postNo} 
		
	]]>
	</select>
	
	<update id="boardPostviewUpdate" parameterType="Board" statementType="PREPARED">
		UPDATE board SET bo_postView = bo_postView + 1  WHERE BO_POSTNO= #{bo_postNo}
	</update>
	
	<!-- 게시물 조회 쿼리문 끝-->
	
	
	<insert id="insertContent" parameterType="Board" statementType="PREPARED">
		INSERT INTO board VALUES(SEQ_board_no.nextval, #{bo_userNo}, #{bo_postTitle}, #{bo_postContent}, 0, SYSDATE, SYSDATE)
	</insert>
	
		
	
	<!-- insert all 사용 -->
	<!-- 
	<insert id="insertContentwithImg" parameterType="Board" statementType="PREPARED">
		INSERT ALL 
		INTO BOARD VALUES(SEQ_board_no.nextval, #{mm_userId}, #{bo_postTitle}, #{bo_postContent}, 0, SYSDATE, SYSDATE)
		INTO BOARD_IMAGE VALUES(SEQ_boardImage_no.nextval, SEQ_board_no.currval  ,#{mm_userId}, #{bi_imgsrc}, #{bi_filesrc})
	</insert>
	
	<update id="updateContent" parameterMap="Board" statementType="PREPARED">
		UPDATE BOARD SET bo_postitle = #{bo_postTitle}, bo_postContent = #{bo_postContent} WHERE BO_POSTNO = #{bo_postNo}
	</update>
	 -->
	<!-- update all 사용 -->
	<!-- 
	<update id="updateContentwithImg" parameterMap="Board" statementType="PREPARED">
		UPDATE BOARD SET bo_postitle = #{}, WHERE BO_POSTNO = #{bo_posstNo};
	</update>
	
	<delete id="deleteContent" parameterType="Board" statementType="PREPARED">
		DELETE FROM BOARD WHERE bo_postNo = #{bo_postNo}
	</delete>
	  -->
	
	
	
</mapper>